.hero {
    text-align: center;
    }

    body {
        background-image: url('https://static.toiimg.com/thumb/74865493.cms?width=680&height=512&imgsize=1890542');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }


    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background: red;
        color: black;
        text-align: center;
     }